.font{
  font-family: MyriadPro;
  font-size: 30px;
  text-align: center;
}
.font1{
  font-family: MyriadPro;
  font-size: 25px;
}
.font2{
  font-family: MyriadPro;
  font-size: 35px;
  font-weight: bold;
}
